.order-container {
  margin-bottom: 50px;
}

.order-header {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(222, 222, 222);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.order-header-left-section {
  display: flex;
  flex-shrink: 0;
}

.order-header-label {
  font-weight: 700;
}

.order-date,
.order-total {
  margin-right: 45px;
}

.order-header-right-section {
  flex-shrink: 1;
}

@media (max-width: 575px) {
  .order-header {
    flex-direction: column;
    align-items: start;
    line-height: 23px;
    padding: 15px;
  }

  .order-header-left-section {
    flex-direction: column;
  }

  .order-header-label {
    margin-right: 5px;
  }

  .order-date,
  .order-total {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-right: 0;
  }

  .order-header-right-section {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}

.order-details-grid {
  padding: 40px 25px;
  border: 1px solid rgb(222, 222, 222);
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.order-product-row {
  display: grid;
  grid-template-columns: 110px 1fr 220px;
  column-gap: 35px;
  align-items: center;
  margin-bottom: 40px;
}

.order-product-row:last-child {
  margin-bottom: 0;
}

@media (max-width: 800px) {
  .order-product-row {
    grid-template-columns: 110px 1fr;
    row-gap: 0;
    margin-bottom: 30px;
  }
}

@media (max-width: 450px) {
  .order-product-row {
    grid-template-columns: 1fr;
  }
}

.order-container .product-image-container {
  text-align: center;
}

.order-container .product-image-container img {
  max-width: 110px;
  max-height: 110px;
}

.order-container .product-name {
  font-weight: 700;
  margin-bottom: 5px;
}

.order-container .product-delivery-date {
  margin-bottom: 3px;
}

.order-container .product-quantity {
  margin-bottom: 8px;
}

.buy-again-button {
  font-size: 14px;
  width: 140px;
  height: 36px;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.buy-again-icon {
  width: 20px;
  margin-right: 10px;
}

.product-actions {
  align-self: start;
}

.track-package-button {
  width: 100%;
  font-size: 14px;
  padding: 8px;
}

@media (max-width: 800px) {
  .buy-again-button {
    margin-bottom: 10px;
  }

  .product-actions {
    grid-column: 2;
    margin-bottom: 30px;
  }

  .track-package-button {
    width: 140px;
  }
}

@media (max-width: 450px) {
  .order-container .product-image-container {
    text-align: center;
    margin-bottom: 25px;
  }

  .order-container .product-image-container img {
    max-width: 150px;
    max-height: 150px;
  }

  .order-container .product-name {
    margin-bottom: 10px;
  }

  .order-container .product-quantity {
    margin-bottom: 15px;
  }

  .buy-again-button {
    width: 100%;
    margin-bottom: 15px;
  }

  .product-actions {
    grid-column: auto;
    margin-bottom: 70px;
  }

  .track-package-button {
    width: 100%;
    padding: 12px;
  }
}
