.orders-page {
  max-width: 850px;
  margin-top: 90px;
  margin-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;

  margin-left: auto;
  margin-right: auto;
}

.orders-page .page-title {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 25px;
}

.orders-page .orders-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50px;
}

.orders-page .no-orders {
  text-align: center;
  padding: 60px 20px;
  color: rgb(100, 100, 100);
  font-size: 18px;
}

.orders-page .no-orders a {
  display: inline-block;
  margin-top: 15px;
  font-size: 16px;
}
