.cart-item-container {
  border: 1px solid rgb(222, 222, 222);
  border-radius: 4px;
  padding: 18px;
  margin-bottom: 12px;
}

.delivery-date {
  color: rgb(25, 135, 84);
  font-weight: 700;
  font-size: 19px;
  margin-top: 5px;
  margin-bottom: 22px;
}

.cart-item-details-grid {
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  column-gap: 25px;
}

@media (max-width: 1000px) {
  .cart-item-details-grid {
    grid-template-columns: 100px 1fr;
    row-gap: 30px;
  }
}

.cart-item-details-grid .product-image {
  max-width: 100%;
  max-height: 120px;
  margin-left: auto;
  margin-right: auto;
}

.cart-item-details .product-name {
  font-weight: 700;
  margin-bottom: 8px;
}

.cart-item-details .product-price {
  font-weight: 700;
  margin-bottom: 5px;
}

.cart-item-details .product-quantity .link-primary {
  margin-left: 8px;
}

.update-quantity-select {
  margin-left: 8px;
}

@media (max-width: 1000px) {
  .delivery-options {
    grid-column: 1 / span 2;
  }
}

.delivery-options-title {
  font-weight: 700;
  margin-bottom: 10px;
}

.delivery-option {
  display: grid;
  grid-template-columns: 24px 1fr;
  margin-bottom: 12px;
  cursor: pointer;
}

.delivery-option-input {
  margin: 3px 5px 0px 0px;
  cursor: pointer;
}

.delivery-option-date {
  font-weight: 500;
  margin-bottom: 3px;
}

.delivery-option-price {
  color: rgb(120, 120, 120);
  font-size: 15px;
}
